body {
  background-color: #08306B;
}

ul {
  list-style-type: none;
}

.container {
  margin-top: 2%;
  padding-left: 0%;
  padding-right: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left-side {
  align-items: center;
  background-color: #4292C6;
  border: solid 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 800px;
  justify-content: space-around;
  margin: auto;
  width: 50%;
}

.right-side {
  align-items: center;
  background-color: #4292C6;
  border: solid 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 800px;
  justify-content: space-around;
  margin: auto;
  width: 50%;
}

.my-card {
  background-color: #C6DBEF;
  border: solid 2px;
  border-radius: 10px;
  flex-grow: 1;
  height: 180px;
  margin: 3%;
}

.card-combo {
  margin: 2%
}

.card-image {
  text-align: center;
  padding-top: 10px;
}

.display-base-experience {
  border-style: solid;
  color: white;
  border-width: 1px;
  width: 50%;
  padding: 2%;
}

.player {
  width: 100%;
  height: 10%;
  text-align: center;
}

.is-fair-change {
  background-color: aliceblue;
}